{:paths ["src" "resources" "modules"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/tools.deps.alpha {:mvn/version "0.11.910"}
        org.clojure/tools.logging {:mvn/version "1.1.0"}
        ch.qos.logback/logback-classic {:mvn/version "1.3.0-alpha5"}
        org.jsoup/jsoup {:mvn/version "1.13.1"}
        version-clj/version-clj {:mvn/version "2.0.1"}
        cli-matic/cli-matic {:mvn/version "0.4.3"}}
 :aliases {:test
           {:extra-paths ["test/unit" "test/integration" "test-resources"]
            :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.732"}
                         lambdaisland/kaocha-junit-xml {:mvn/version "0.0.76"}}
            :main-opts ["-m" "kaocha.runner"]}

           :clj-kondo
           {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2021.03.31"}}
            :main-opts ["-m" "clj-kondo.main"]}}}
