{:paths ["src" "resources" "modules"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/tools.deps.alpha {:mvn/version "0.14.1212"}
        org.clojure/tools.logging {:mvn/version "1.2.4"}
        ch.qos.logback/logback-classic {:mvn/version "1.3.0-alpha16"}
        version-clj/version-clj {:mvn/version "2.0.2"}
        cli-matic/cli-matic {:mvn/version "0.5.4"}
        babashka/fs {:mvn/version "0.1.6"}
        ;; cljoc and cljdoc-analyzer should reference same version of cljdoc-shared
        cljdoc/cljdoc-shared {:git/url "https://github.com/cljdoc/cljdoc-shared.git"
                              :git/sha "53c113e375df94d50cf96c6f2c1b3842dc0e9b35"}}
 :tools/usage {:ns-default cljdoc-analyzer.deps-tool}
 :aliases {:test
           {:extra-paths ["test/integration" "test-resources"]
            :extra-deps {lambdaisland/kaocha {:mvn/version "1.68.1059"}
                         lambdaisland/kaocha-junit-xml {:mvn/version "0.0.76"}}
            :main-opts ["-m" "kaocha.runner"]}

           :clj-kondo
           {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2022.06.22"}}
            :main-opts ["-m" "clj-kondo.main"]}

           :outdated
           {:replace-deps {com.github.liquidz/antq {:mvn/version "1.9.863"}
                           org.slf4j/slf4j-simple {:mvn/version "1.7.36"} ;; to rid ourselves of logger warnings
                           }
            :main-opts ["-m" "antq.core"]}}}
