{;; Overrides for specific projects where automatic resolution/detection is not sufficient.
 ;; Manually sorted alphabetically by project only for easier at-a-glance updates.
 ;; Comments that add reason why override is necessary are encouraged.
 ;; Specify both group-id and artifact-id for project key even if they are the same otherwise
 ;; override lookup will not match.
 :project-overrides
 {"cider/cider-nrepl" {:languages #{"clj"}
                       :deps {boot/core {:mvn/version "2.7.2"}
                              boot/base {:mvn/version "2.7.2"}
                              leiningen {:mvn/version "2.8.1"}}}
  "clj-time/clj-time" {:deps {org.clojure/java.jdbc {:mvn/version "0.7.7"}}}
  "com.github.seancorfield/expectations" {:languages #{"clj"}}
  "com.taoensso/tufte" {:deps {com.taoensso/timbre {:mvn/version "4.10.0"}}}
  "dali/dali" {:languages #{"clj"}}
  "io.replikativ/datahike" {:languages #{"clj"}}
  "io.aviso/pretty" {:deps {leiningen {:mvn/version "2.8.1"}}}
  ;; exclude clojure.parallel namespace from clojure analysis
  ;; - it depends a version of jsr166.jar that is not known (to me) to be published to any repo
  ;; - it is deprecated
  ;; - it is not in API docs from clojure core team
  "org.clojure/clojure" {:namespaces ["^clojure.(?!parallel)"] }
  "reagent/reagent" {;; fails because reagent.debug is missing, file exists though
                     :languages #{"cljs"}}
  "uruk/uruk" {:languages #{"clj"}}
  "ventas-core/ventas-core" {:languages #{"clj"}}}

 :repos {"central" {:url "https://repo1.maven.org/maven2/"},
         "clojars" {:url "https://repo.clojars.org/"}
         ;; Included to account for https://dev.clojure.org/jira/browse/TDEPS-46
         ;; specifically anything depending on org.immutant/messaging will fail
         ;; this includes compojure-api
         "jboss" {:url "https://repository.jboss.org/nexus/content/groups/public/"}
         ;; included for https://github.com/FundingCircle/jackdaw
         "confluent" {:url "https://packages.confluent.io/maven/"}}}
