{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.3"}
        org.clojure/clojurescript {:mvn/version "1.11.132"}}
 :aliases {:test-base
           {:extra-paths ["test"]
            :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                         lambdaisland/kaocha-junit-xml {:mvn/version "1.17.101"}}}

           :test-sources
           {:extra-paths ["test-sources"
                          "test-sources-special"]
            :main-opts ["-m" "kaocha.runner" "--skip-meta" ":no-doc-test"]}

           :test-sources-no-doc-meta
           {:extra-paths ["target/no-doc-sources-test"]
            :jvm-opts ["-Dmetagetta.test.sources.root=target/no-doc-sources-test/"]
            :main-opts ["-m" "kaocha.runner" "--focus-meta" ":no-doc-test"]}

           :depstar
           {:extra-deps
            {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}}}}
